@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-size: 16px;  /* root font size */
    box-sizing: border-box; /* box model */
    background-color: #FFFAF0;
}

*,
*::before
*::after {
    box-sizing: inherit; /* inherit border box by default */
}

* {
    margin: 0; /* remove default margin */
}

body {
    min-height: 100vh;
    color: #2D3319;
    font-size: 1rem; /* 1x root font size (16px) */
    line-height: 1.5rem; /* 1.5x root font size*/
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input,
button,
textarea,
select {
    font: inherit; 
}

h1 {
    color: #517664;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2,
h3,
h4,
h5,
h6, 
p {
    color: #2D3319;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h1 {
    font-size: 1.953rem;
    font-weight: bolder;
    line-height: 2.5rem; 
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.563rem;
    font-weight: bold;
    line-height: 2rem;
    margin-bottom: .75rem;
}

h3 {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.5rem;
    margin-bottom: .5rem;
}

h4 {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5rem;
    margin-bottom:.25rem;
}

p {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5rem;
    margin-bottom: .25rem;
}

small {
    font-size: .75rem;
    font-weight: lighter;
    line-height: 1.5rem;
    margin-bottom: .25rem;
}

button {
    padding: 1rem;
    background-color: #E3DAC9;
    color: #517664;
    border: 1px #2D3319;
    font-weight: normal;
}

header {
    background-color:#E3DAC9;
}

section.page-section {
    padding:1.5rem;
    border:1px #517664;
    margin:0 auto 1 rem auto;
    width:100%;
    max-width:1920px;
}

#page-header {
    padding: 1rem 1.5rem;
}

#page-header.logo {
    color:#2D3319;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.25rem;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
}

#main-nav a {
    padding: .5rem .75rem;
    color:#2D3319;
}

#main-nav:hover {
    color:#517664;
}

#hero {
    background-image: url(/images/0017_17.jpg);
    width: 100%;
    aspect-ratio: 16/4;
    margin-bottom: 2rem;
    text-align: center;
}

#hero.display-text {
    background-size: cover;
    background-position: bottom;
    width: 100%;
    color:#2D3319;
}

#hero button {
    margin-top: 1rem;
}