html {
    font-size: 16px;  
    box-sizing: border-box; 
    background-color: #FFFAF0;
}

*,
*::before
*::after {
    box-sizing: inherit; 
}

* {
    margin: 0;
}

body {
    min-height: 100vh;
    color: #2D3319;
    font-size: 1rem; 
    line-height: 1.5rem; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h1 {
    color: #517664;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2,
h3,
h4,
h5,
h6, 
p {
    color: #2D3319;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h1 {
    font-size: 1.953rem;
    font-weight: bolder;
    line-height: 2.5rem; 
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.563rem;
    font-weight: bold;
    line-height: 2rem;
    margin-bottom: .75rem;
}

h3 {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.5rem;
    margin-top: .5rem;
}

h4 {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5rem;
}

p {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5rem;
}

small {
    font-size: .75rem;
    font-weight: lighter;
    line-height: 1.5rem;
}

a {
    color:#2D3319;
    font-weight: normal;
    line-height: 1.5rem;
    margin-bottom: .25rem;
}

a:hover {
    color:#517664;
}

button {
    font: inherit;
    padding: 1rem;
    background-color: #E3DAC9;
    color: #517664;
    border: 1px #2D3319;
    font-weight: normal;
    margin: 1rem;
}

header {
    background-color:#E3DAC9;
}

section.page-section {
    padding:1.5rem;
    border:1px #517664;
    margin:0 auto 1 rem auto;
    width:100%;
    max-width:1920px;
}

.display-text {
    font-size:1.953rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    line-height:2.5rem;
    color:#FFFAF0;
}
#page-header {
    padding: 1rem 1.5rem;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
    padding: .5rem .75rem;
}

#hero-image {
    background-image: url('../images/0017_17.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 100%;
    aspect-ratio: 16/4;
    margin-bottom: 2rem;
    padding: 10rem 2rem;
    text-align: center;
    filter:brightness(80%)
}

#hero-image.display-text {
    width: 100%;
    margin-bottom: 2rem;
    font-size:1.953rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    line-height:2.5rem;
    color:#FFFAF0;
}

#hero button {
    margin-top: 1rem;
}